.page-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

header {
  width: 180px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 11px;
  margin: 76px 0 89px 8vw;

  & span {
    font-size: 24px;
    font-family: "Sora";
    line-height: 130%;
    font-weight: 700;
    color: var(--content-primary);
  }
}

main {
  display: flex;
  justify-content: center;
  gap: 108px;
}

.contentleft {
  width: 515px;
  height: 412px;
  margin-left: 135px;
  margin-bottom: 153px;

  &>span {
    font: var(--overline);
    background: linear-gradient(90deg, #C7C9CC 10%, #3D3D3D 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 12px;
  }

  & h1 {
    font: var(--displaylg);
    color: var(--content-primary);
    margin-bottom: 38px;
  }


  .wrapper {
    width: 386px;
    height: 57px;
    margin-bottom: 36px;

    & span {
      margin-left: 8px;
      font: var(--paragraphmd);
      color: var(--content-brand);
    }

    & p {
      margin-left: 33px;
      font: var(--paragraphsm);
      color: var(--content-secondary);

    }
  }
}

.contentright {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 482px;

  .righthd {
    margin-bottom: 40px;

    &>span {
      font: var(--labelmd);
      color: var(--content-primary);
      margin-bottom: 2px;
    }

    & p {
      font: var(--paragraphlg);
      color: var(--content-secondary);
    }

  }

  .flex {
    display: flex;
    gap: 12px;
  }


  .wrapperinputs {
    height: 88px;
    width: 86px;
    margin-bottom: 20px;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      font: var(--labelsm);
      color: var(--content-secondary);
    }

    & input {
      width: 86px;
      height: 56px;
      border-radius: 8px;
      text-align: center;
      padding: 0;
      -moz-appearance: textfield;
      font: var(--displaysm);
      color: var(--content-primary);
      background-color: var(--background-secondary);
    }

    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .wrapperinputs input:hover {
    background-color: var(--background-tertiary);
    padding: 2px;
    background: linear-gradient(90deg, #8ef09d, #f38eeb, #8eaef3, #8ef09d);
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-clip: content-box, border-box;

    box-sizing: border-box;
    background-clip: content-box, border-box;
    background-image:
      linear-gradient(#23212b, #23212b),
      linear-gradient(90deg, #8ef09d, #f38eeb, #8eaef3, #8ef09d);
  }

  .wrapperinputs input:focus {
    background-color: var(--background-gray);
    padding: 3px;
    background: linear-gradient(90deg, #8ef09d, #f38eeb, #8eaef3, #8ef09d);
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-clip: content-box, border-box;

    box-sizing: border-box;
    background-clip: content-box, border-box;
    background-image:
      linear-gradient(#23212b, #23212b),
      linear-gradient(90deg, #8ef09d, #f38eeb, #8eaef3, #8ef09d);
  }

  .switch {
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    align-items: center;
    gap: 8px;
    height: 20px;
    width: 148px;

    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      height: 20px;
      width: 30px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 34px;
      transition: .4s;
    }

    .slider::before {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      border-radius: 50%;
      transition: .4s;
    }





    .txt {
      margin-left: 30px;
      font-family: "Inter";
      line-height: 150%;
      font-size: 12px;
      color: white;
    }

  }

  .switch input:checked+.slider {
    background-image: linear-gradient(to right, #D586E0, #91A1FA);
  }

  .switch input:checked+.slider::before {
    transform: translateX(10px);
  }








  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 482px;
    height: 56px;
    background-color: var(--background-tertiary);
    gap: 8px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  .roll {
    display: flex;
    gap: 8px;
    font: var(--labelmd);
    color: var(--content-primary);
    cursor: pointer;
  }

  .btn span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn.btn.is-active {
    padding: 2px;
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-sizing: border-box;
    background-clip: content-box, border-box;

    background-size: 200% 200%;
    background-image:
      linear-gradient(#111012, #111012),
      linear-gradient(90deg, #8ef09d, #f38eeb, #8eaef3, #8ef09d);
    animation: animateBorder 3s linear infinite;

  }

  .btn.is-active span svg {
    animation: slideRight 2.5s ease forwards;
  }









  .resulthd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    & h2 {
      font: var(--labelmd);
      color: var(--content-primary);
    }

    & p {
      text-align: center;
      font: var(--overlinesm);
      color: var(--content-secondary);
    }
  }

  ul {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-bottom: 60px;
  }

  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 86px;
    background-color: var(--background-brand);
    border-radius: 28px;
    gap: 10px;
    animation: fadeIn 1s ease forwards,
      rotate 2s ease forwards 1.1s,
      removebg 1s ease-in forwards 3s;
  }

  li span {

    font: var(--overlinerslt);
    opacity: 0;
    animation: spanIn 1s ease forwards 0.8s, colorInherit 1s ease forwards 3s;

  }
}

.esconder{
  display:none;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.1)
  }

  100% {
    transform: rotate(360deg) scale(1.1)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes removebg {
  0% {
    background-color: var(--background-brand);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes spanIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes colorInherit {
  0% {
    color: var(--background-primary);
  }

  100% {
    color: var(--content-brand);
  }

}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0px);
  }

}

@keyframes animateBorder {
  0% {
    background-position: 0% 0%;
    /* Inicia no canto */
  }

  50% {
    background-position: 100% 100%;
    /* Move para o canto oposto */
  }

  100% {
    background-position: 0% 0%;
    /* Volta ao início (ciclo infinito) */
  }
}

@keyframes spinReload {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}